@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
a {text-decoration: none;}
ul {list-style: none;}
body {font-family: 'NanumSquareNeo';}
body, html {height: 100%;}



.wrap {
    width: 100%;
    height: 100%;
    display: flex;
}
.lnb {
    width: 15%;
    height: 100%;
    background-color: #444d52;
}
.logo {
    width: 100%;
    height: 15%;
    background-color: #B1D0E0;
    position: relative;
}
.logo h1 {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}
.refresh_btn {
    width: 100%;
    height: 30px;
    text-align: right;
    background-color: transparent;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
    position:absolute;
    bottom: 0;
    left: 0;
}
.lnb_main {
    width: 100%;
    height: 85%;
    padding: 50px 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
}
.main_list_mt>li {
    margin-bottom: 30px;
}
.sub_list_mt>p {
    margin-bottom: 10px;
    padding: 0 30px;
    font-size: 12px;
}
.sub_list_mt>li {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
.sub_list_mt a {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}
.sub_list_mt a:hover {
    background-color: rgba(255,255,255,.1);
}

.content {
    width: 85%;
    height: 100%;
}
.header {
    width: 100%;
    height: 10%;
    background-color: #444d52;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 50px;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    z-index: 1;
}

/* 체험한 테마 */
.didtheme {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    margin: auto;
}
.didtheme .inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
.did_title {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}
.did_title h4 {
    font-size: 24px;
    margin-right: 10px;
}
.notice_did {
    width: 40px;
    height: 30px;
    border-radius: 30%;
    background-color: #6998AB;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.board_list {
    font-size: 0;
}
.board_list i {
    font-size: 14px;
    margin-top: 1px;
}
.board_list button {
    background-color: transparent;
    font-family: 'NanumSquareNeo';
    vertical-align: top;
    cursor: pointer;
}
.board_list button:first-of-type::after {
    content: "|";
    margin: 5px;
}
.board_list button:last-of-type {
    margin-right: 10px;
}
.title_inner {
    display: flex;
    justify-content: space-between;
}

.did_theme_table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
.did_theme_table thead {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #000;
}
.did_theme_table tbody {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
}
.did_theme_table tbody tr td:not(:nth-of-type(3)) {
    text-align: center;
}
.did_theme_table td {
    border-bottom: 1px solid black;
}

.add_btn {
    width: 50px;
    height: 40px;
    background-color: #eee;
    border: 0;
    position: absolute;
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    font-family: 'NanumSquareNeoBold';
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_btn:hover {
    color: #F1F6F9;
    background-color: #6998AB;
}
.search_input {
	width: 200px;
	height: 40px;
	outline: 1px solid #aaa;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 10px;
	border-radius: 10px;
}
.search_btn {
	width: 50px;
	height: 30px;
	background-color: #B1D0E0;
	border-radius: 10px;
	cursor: pointer;
}
.formBtn {
	display: flex;
	position: absolute;
	right: 0;
	bottom: 15px;
	width: 180px;
	height: 40px;
}
.saveBtn, .delBtn, .makeBtn {
	width: 50px;
    height: 40px;
    background-color: #eee;
    border: 0;
    border-radius: 10px;
    font-family: 'NanumSquareNeoBold';
    cursor: pointer;
    margin-right: 10px;
}
.saveBtn:hover, .delBtn:hover, .makeBtn:hover {
	color: #F1F6F9;
    background-color: #6998AB;
}

Form[name=subForm] input {
	width: 100px;
	height: 30px;
	outline: 1px solid #aaa;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 15px;
	border-radius: 5px;
}
.indexAdmViewTbody tr {
	height: 35px;
}
select[name=paging] {
	width: 50px;
	padding: 5px;
	box-sizing: border-box;
	outline: 1px solid #000;
	margin-left: 20px;
	border-radius: 10px;
}
.paging {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translatex(-50%)
}
.paging ul {
	/* width: 120px; */
	height: 40px;
	display: flex;
	/* border: 2px solid #B1D0E0; */
	justify-content: center;
	align-items: center;
}
.paging ul li {
	width: 40px;
	height: 40px;
	font-size: 14px;
}
.paging ul li a {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 40px;
	color: #B1D0E0;
}
.paging ul li:not(:last-child) a {
	border-right: 1px solid #B1D0E0;
}
.paging ul li a:hover {
	background-color: #B1D0E0;
	color: #fff;
}


