<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  전체 매퍼 중 유일한 값을 사용하여야 한다.
 해서 관계적으로 해당 파일의 path와 file_name(확장자 제외)
 그리고 dao 에서 namespace와 일치하여야 된다. -->

<mapper namespace="com.mycompany.app.infra.code.CodeMapper">



    <!--select 결과를 받을 객채-->
    <resultMap id="resultMapObj" type="com.mycompany.app.infra.code.Code"></resultMap>

	<sql id="abc">
		seq
		, defaultNy
		, name
		, themeTitle
	</sql>

    <select id="selectList" resultMap ="resultMapObj">
        SELECT
            <!-- <include refid="abc" /> --> *
        FROM
            code
        WHERE 1=1
        	<if test="shKeyword != null and !shKeyword.equals('')"> AND name LIKE CONCAT('%', #{shKeyword} ,'%')</if>
    </select>

    <select id="selectOne" resultMap ="resultMapObj">
        SELECT
            *
        FROM
            code
        WHERE
            seq = #{seq}
    </select>
    
    <update id="update">
        UPDATE code
        SET
        	defaultNy = #{defaultNy}
            , name = #{name}
            , themeTitle = #{themeTitle}
        WHERE
            seq = #{seq}
    </update>

    <delete id="delete">
        DELETE FROM code WHERE seq = #{seq}
    </delete>

    <insert id="insert">
        INSERT INTO code (
        	defaultNy
        	, name
        	, themeTitle
        ) VALUES (
        	#{defaultNy}
            , #{name}
            , #{themeTitle}
        )
    </insert>
    
    <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
    	SELECT
    		seq
    		, name
    		, gender
    	FROM
    		code
    	WHERE 1=1
    		<!-- AND defaultNy = 0 -->
    </select>

</mapper>